<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <title th:text="#{page.title}">Mafia JD2</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="../../../resources/css/mainstyle.css" th:href="@{/resources/css/mainstyle.css}" rel="stylesheet">
    <link href="../../../resources/css/main_forms_style.css" th:href="@{/resources/css/main_forms_style.css}"
          rel="stylesheet">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet"
          type="text/css"/>
</head>
<body>

<div class="wrapper">
    <header class="header" th:replace="fragments/header :: header"></header>
    <hr/>
    <nav class="navigation" th:replace="fragments/navigations :: base_navigation"></nav>
    <hr/>
    <br/><br/>
    <main class="content">
        <form class="form" th:action="@{/authority/members/add-authority}" method="post" th:object="${authority}">
            <h2 th:text="#{reg_new_authority}">Register new authority</h2>
            <input type="text" id="firstName" placeholder="First name" th:value="*{firstName}"
                   th:placeholder="#{first_name}"
                   th:field="*{firstName}"/><br/>
            <input type="text" id="middleName" placeholder="Middle name" th:value="*{middleName}"
                   th:placeholder="#{middle_name}"
                   th:field="*{middleName}"/><br/>
            <input type="text" id="lastName" placeholder="Last name" th:value="*{lastName}"
                   th:placeholder="#{last_name}"
                   th:field="*{lastName}"/><br/>
            <input type="text" id="nickName" placeholder="Nickname" th:value="*{nickName}" th:placeholder="#{nick_name}"
                   th:field="*{nickName}"/><br/>
            <label th:for="login" th:each="err : ${#fields.errors('login')}" th:text="#{${err}}">Login error</label>
            <label th:for="login" th:text="${existsLogin != null} ? #{${existsLogin}}">Login exists</label>
            <input type="text" placeholder="Login" th:value="*{login}" th:placeholder="#{login}" th:field="*{login}"
                   required/><br/>
            <label th:each="err : ${#fields.errors('password')}" th:text="#{${err}}">Password error</label>
            <input type="password" id="password" placeholder="Password" th:placeholder="#{password}"
                   th:field="*{password}" required/><br/>
            <input type="submit" th:value="#{page.submit}" value="Submit"/>
        </form>
    </main><!-- .content -->
</div><!-- .wrapper -->
<br/>
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>
