<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <title th:text="#{page.title}">Mafia JD2</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="../../resources/css/mainstyle.css" th:href="@{/resources/css/mainstyle.css}" rel="stylesheet">
    <script th:src="@{http://api-maps.yandex.ru/2.1/(lang=#{page.locale})}"
            src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        ymaps.ready(function () {
            var myMap, placemark;
            myMap = new ymaps.Map('map', {
                center: [53.614482, 28.143763],
                zoom: 6,
                type: 'yandex#hybrid',
                controls: ['zoomControl', 'typeSelector']
            });

            var listOfClans = JSON.parse(/*[[${allClans}]]*/ '');
            for (var i = 0; i < listOfClans.length; i++) {
                placemark = new ymaps.Placemark([listOfClans[i].location.longitude, listOfClans[i].location.latitude], {
                    iconContent: listOfClans[i].name
                },{
                    preset: 'islands#blackStretchyIcon'
                });
                myMap.geoObjects.add(placemark);
            }
        });
        /*]]>*/
    </script>
</head>
<body>

<div class="wrapper">
    <header class="header" th:replace="fragments/header :: header"></header>
    <hr/>
    <nav class="navigation" th:replace="fragments/navigations :: base_navigation"></nav>
    <hr/>
    <br/><br/>
    <main class="content">
        <div id="map" style="width: 550px; height: 450px; margin: 15px auto;"></div>
    </main><!-- .content -->
</div><!-- .wrapper -->
<br/>
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>
