<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:text="#{page.title}">Mafia JD2</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="../../resources/css/mainstyle.css" th:href="@{/resources/css/mainstyle.css}" rel="stylesheet">
    <link href="../../resources/css/login_page_style.css" th:href="@{/resources/css/login_page_style.css}"
          rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <header class="header" th:replace="fragments/header :: header"></header>
    <hr/>
    <nav class="navigation" th:replace="fragments/navigations :: base_navigation"></nav>
    <hr/>
    <br/><br/>
    <main class="content">
        <div id="login-form">
            <h2 th:if="${loginError}" th:text="#{login_page.error_mesage}">Wrong user or password</h2>
            <fieldset>
                <form th:action="@{/login}" method="post">
                    <label for="username" th:text="#{login}">Login</label><br/>
                    <input type="text" id="username" name="username" autofocus="autofocus" required/>
                    <label for="password" th:text="#{password}">Password</label><br/>
                    <input type="password" id="password" name="password" required/>
                    <input type="submit" th:value="#{nav.sign_in}" value="Log in"/>
                </form>
            </fieldset>
        </div>
    </main><!-- .content -->
</div><!-- .wrapper -->
<br/>
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>
