<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <title th:text="#{page.title}">Mafia JD2</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="../../resources/css/mainstyle.css" th:href="@{/resources/css/mainstyle.css}" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <header class="header" th:replace="fragments/header :: header"></header>
    <hr/>
    <nav class="navigation" th:replace="fragments/navigations :: base_navigation"></nav>
    <hr/>
    <br/><br/>
    <main class="content">
        <div sec:authorize="hasAuthority('AUTHORITY')">
            <label th:text="#{first_name}+': '+${authority.nameDetails.firstName}"
                   th:unless="${authority.nameDetails.firstName == null}"></label><br/>
            <label th:text="#{middle_name}+': '+${authority.nameDetails.middleName}"
                   th:unless="${authority.nameDetails.middleName == null}"></label><br/>
            <label th:text="#{last_name}+': '+${authority.nameDetails.lastName}"
                   th:unless="${authority.nameDetails.lastName == null}"></label><br/>
            <label th:text="#{nick_name}+': '+${authority.nameDetails.nickName}"
                   th:unless="${authority.nameDetails.nickName == null}"></label><br/>
            <label th:text="#{clanname}+': '+${authority.clan.name}"
                   th:unless="${authority.clan.name == null}"></label><br/>
            <label th:text="${authority.isBoss()?'Godfather':'Underboss'}"></label><br/>
            <label th:text="#{status}+': '+${authority.memberStatus}"></label><br/>
        </div>
        <div sec:authorize="hasAuthority('CAPOREGIME')">
            <label th:text="#{first_name}+': '+${caporegime.nameDetails.firstName}"></label><br/>
            <label th:text="#{middle_name}+': '+${caporegime.nameDetails.middleName}"></label><br/>
            <label th:text="#{last_name}+': '+${caporegime.nameDetails.lastName}"></label><br/>
            <label th:text="#{nick_name}+': '+${caporegime.nameDetails.nickName}"></label><br/>
            <label th:text="#{clanname}+': '+${caporegime.clan.name}"></label><br/>
            <label th:text="#{status}+': '+${caporegime.memberStatus}"></label><br/>
            <label th:text="#{email}+': '+${caporegime.email}"></label><br/>
        </div>
        <div sec:authorize="hasAuthority('SOLDIER')">
            <label th:text="#{first_name}+': '+${soldier.nameDetails.firstName}"></label><br/>
            <label th:text="#{middle_name}+': '+${soldier.nameDetails.middleName}"></label><br/>
            <label th:text="#{last_name}+': '+${soldier.nameDetails.lastName}"></label><br/>
            <label th:text="#{nick_name}+': '+${soldier.nameDetails.nickName}"></label><br/>
            <label th:text="#{clanname}+': '+${soldier.clan.name}"></label><br/>
            <label th:text="#{status}+': '+${soldier.memberStatus}"></label><br/>
            <label th:text="#{godfather}+': '+${soldier.specialization}"></label><br/>
        </div>
    </main><!-- .content -->
</div><!-- .wrapper -->
<br/>
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>
