<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:text="#{page.title}">Mafia JD2</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <script src="../../resources/js/find_coords.js" th:src="@{/resources/js/find_coords.js}"></script>
    <script th:src="@{http://api-maps.yandex.ru/2.1/(lang=#{page.locale})}"
            src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
    <link href="../../resources/css/mainstyle.css" th:href="@{/resources/css/mainstyle.css}" rel="stylesheet">
    <link href="../../resources/css/reg_clan_forms_style.css" th:href="@{/resources/css/reg_clan_forms_style.css}"
          rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <header class="header" th:replace="fragments/header :: header"></header>
    <hr/>
    <nav class="navigation" th:replace="fragments/navigations :: base_navigation"></nav>
    <hr/>
    <br/><br/>
    <main class="content">
        <div class="find_location">
            <input type="text" name="address" id="address" placeholder="Address" th:placeholder="#{address}"/>
            <input type="button" value="Find location coords" th:value="#{find_coords}" onclick="get_coords()"/>
        </div>
        <form class="new_clan_form" th:action="@{/register}" method="post" th:object="${regClanSample}">
            <h2 th:text="#{nav.register_clan}">Register new clan</h2>
            <label for="login" th:for="login" th:text="#{login}">Login</label>
            <input type="text" id="login" placeholder="Login" th:placeholder="#{login}" th:field="*{login}"
                   autofocus="autofocus" required/><br/>
            <label for="password" th:for="password" th:text="#{password}">Password</label>
            <input type="password" id="password" placeholder="Password" th:placeholder="#{password}"
                   th:field="*{password}" required/><br/>
            <label for="clanname" th:for="clanName" th:text="#{clanname}">Clan name</label>
            <input type="text" id="clanname" placeholder="Clan name" th:placeholder="#{clanname}" th:field="*{clanName}"
                   required/><br/>
            <label for="longitude" th:for="longitude" th:text="#{longitude}">Longitude</label>
            <input type="text" id="longitude" placeholder="Longitude" th:placeholder="#{longitude}"
                   th:field="*{longitude}" required/>
            <label for="latitude" th:for="latitude" th:text="#{latitude}">Latitude</label>
            <input type="text" id="latitude" placeholder="Latitude" th:placeholder="#{latitude}" th:field="*{latitude}"
                   required/><br/>
            <input type="submit" th:value="#{page.submit}" value="Submit"/>
        </form>
    </main><!-- .content -->
</div><!-- .wrapper -->
<br/>
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>
