<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:text="#{page.title}">Mafia JD2</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <script src="../../resources/js/find_coords.js" th:src="@{/resources/js/find_coords.js}"></script>
    <script th:src="@{http://api-maps.yandex.ru/2.1/(lang=#{page.locale})}"
            src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
    <link href="../../resources/css/mainstyle.css" th:href="@{/resources/css/mainstyle.css}" rel="stylesheet">
    <link href="../../resources/css/main_forms_style.css" th:href="@{/resources/css/main_forms_style.css}"
          rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <header class="header" th:replace="fragments/header :: header"></header>
    <hr/>
    <nav class="navigation" th:replace="fragments/navigations :: base_navigation"></nav>
    <hr/>
    <br/><br/>
    <main class="content">
        <div class="find_location">
            <input type="text" name="address" id="address" placeholder="Address" th:placeholder="#{address}"/>
            <input type="button" value="Find location coords" th:value="#{find_coords}" onclick="get_coords()"/>
        </div>
        <br/>
        <form class="form" th:action="@{/register}" method="post" th:object="${regClanSample}">
            <h2 th:text="#{nav.register_clan}">Register new clan</h2>
            <label th:for="login" th:each="err : ${#fields.errors('login')}" th:text="#{${err}}">Login error</label>
            <label th:for="login" th:text="${existsLogin != null} ? #{${existsLogin}}">Login exists</label>
            <input type="text" placeholder="Login" th:value="*{login}" th:placeholder="#{login}" th:field="*{login}"
                   autofocus="autofocus" required/><br/>
            <label th:each="err : ${#fields.errors('password')}" th:text="#{${err}}">Password error</label>
            <input type="password" id="password" placeholder="Password" th:placeholder="#{password}"
                   th:field="*{password}" required/><br/>
            <label th:each="err : ${#fields.errors('clanName')}" th:text="#{${err}}">Clan name error</label>
            <label th:for="clanName" th:text="${existsClanName != null} ? #{${existsClanName}}">Clan name
                exists</label>
            <input type="text" id="clanname" placeholder="Clan name" th:value="*{clanName}" th:placeholder="#{clanname}"
                   th:field="*{clanName}" required/><br/>
            <label th:each="err : ${#fields.errors('longitude')}" th:text="#{${err}}">Longitude error</label>
            <input type="text" id="longitude" placeholder="Longitude" th:value="*{longitude}"
                   th:placeholder="#{longitude}" th:field="*{longitude}" required pattern="\d{2}[.]\d{1,6}"/></br>
            <label for="latitude" th:for="latitude" th:each="err : ${#fields.errors('latitude')}" th:text="#{${err}}">Latitude
                error</label>
            <input type="text" id="latitude" placeholder="Latitude" th:value="*{latitude}" th:placeholder="#{latitude}"
                   th:field="*{latitude}" required pattern="\d{2}[.]\d{1,6}"/><br/>
            <input type="submit" th:value="#{page.submit}" value="Submit"/>
        </form>
    </main><!-- .content -->
</div><!-- .wrapper -->
<br/>
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>
