<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <title th:text="#{page.title}">Mafia JD2</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="../../resources/css/mainstyle.css" th:href="@{/resources/css/mainstyle.css}" rel="stylesheet">
    <script th:src="@{http://api-maps.yandex.ru/2.1/(lang=#{page.locale})}" type="text/javascript"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var myMap;
        ymaps.ready(init);
        var longitude = /*[[${location.longitude}]]*/ '';
        var latitude = /*[[${location.latitude}]]*/'';
        function init() {
            myMap = new ymaps.Map('map', {
                center: [longitude, latitude],
                zoom: 11,
                controls: ['zoomControl', 'typeSelector']
            });
        }
        /*]]>*/
    </script>
</head>
<body>

<div class="wrapper">
    <header class="header">
        <img src="../../resources/images/mainlogo.png" th:src="@{/resources/images/mainlogo.png}"/>
        <p class="topquote" th:text="#{header.topquote}">"The quiter you become, the more you are able to hear."</p>
        <img class="bloodhand" src="../../resources/images/bloodhand.png" th:src="@{/resources/images/bloodhand.png}"/>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <a th:href="@{''(lang=en_US)}">En</a>&nbsp;|&nbsp;
        <!--suppress ThymeleafVariablesResolveInspection -->
        <a th:href="@{''(lang=ru_RU)}">Ru</a>
    </header><!-- .header-->
    <hr/>
    <nav class="navigation">
        <ul>
            <li><a href="#">Dummy</a></li>
            <li><a href="#" onclick="return false;">Dummy</a></li>
            <li><a href="#" onclick="return false;">Dummy</a></li>
            <li><a href="#" onclick="return false;">About</a></li>
            <li><a href="#" onclick="return false;">Log In</a></li>
        </ul>
    </nav><!-- .navigation -->
    <hr/>
    <br/><br/>
    <main class="content">
        <strong>Retrieved location from database:</strong>
        <br/>
        <strong>Coords:</strong>
        <h2 th:text="#{page.locale}"></h2><br/>
        <h2>Latitude: <span th:text="${location.latitude}"></span> , Longitude:<span
                th:text="${location.longitude}"></span></h2>
        <br/>
        <div id="map" style="width: 350px; height: 350px"></div>
    </main><!-- .content -->
</div><!-- .wrapper -->

<br/>
<footer class="footer">
    <hr/>
    <span th:text="#{footer.info}">"Mafia" ItAcademy final JD2 project. Yury Vaschenko 2017</span>
</footer><!-- .footer -->

</body>
</html>
